/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #e6f7ff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    margin-top: 5rem;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Input styles */
  input {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 10rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    background-color: #fff;
    color: #333;
    font-family: 'Open Sans', Arial, sans-serif;
  }
  
  /* Check button styles */
  #check-button {
    margin: 1rem auto;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: #47b36d;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
  }
  
  #check-button:hover {
    background-color: #3a8c54;
  }
  
  /* Label styles */
  label {
    font-weight: 600;
    display: block;
    margin: auto;
    color: #333;
  }
  
  /* Error message styles */
  #error-message {
    color: #ff0000;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 1px solid #ff7f7f;
    border-radius: 6px;
    background-color: #ffe6e6;
  }
  
  /* Table styles */
  .change-table {
    font-size: 1rem;
    margin: 0 auto;
    width: 60%;
  }
  
  /* Table heading styles */
  .headin {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: 600;
    color: #47b36d;
  }
  
  /* Table cell styles */
  th, td {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 4rem;
    padding: 0.5rem;
    background-color: #fff;
    color: #333;
  }
  