
*{
    margin: 0;
    padding: 0;
    background-color: #000000;
   
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

:root {
    --primary: #2013dd;
  }

.container{
    display:flex;
    flex-direction: column;
    width: 50vw;
    margin:auto;
    margin-top: 10rem;
    font-family: cursive, sans-serif;
    background-color: #ade934;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 23px #4d2efd;

}

.no-of-notes{
    
    color: #ffbb00;
    
    
}



input{
    margin: 0.5rem auto 1rem auto;
    padding: 0.5rem;
    max-width: 10rem;
    text-align: center;
    border-color: var(--primary) ;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}
input:focus{
    outline: none;
}




body{
    margin: auto;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: larger;
}


#check-button{
    font-weight: 500;
    margin: 0.5rem auto 1rem;
    padding: 0.4rem 1rem;
    cursor:pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
}

label{
    font-weight: 600;
    display: inline-block;
    margin: auto;

}



#error-message{
    color: red;
    margin:auto;
    font-weight: 1200;
    border: 1px solid white;
    margin: 0.5rem auto 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;

}
.change-table{
    font-size: 1rem;
    margin: 0 auto;
    width: 60%;
}




.heading{
    margin-bottom: 1rem;
    color: var(--primary);
}
.desc{
    margin-bottom: 2rem;
}


.heading-table {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: 600;
}

th, td{
    border: 1px solid var(--primary);
    border-radius: 0.2rem;
    width:4rem;
    padding: 0.2rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}